@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.Azeret-Mono-font {
    font-family: "Azeret Mono", monospace;
}

/* navigation style css start*/
#navigation {
    list-style: none;
    display: flex;
    gap: 778px;
    justify-content: center;
    align-items: center;
}

#navigation-name {
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}

#navigation-button-text {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#navigation-button {
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    padding: 17px 24px;
    background-color: #FFF;
    cursor: pointer;
}

/* navigation style end */

/* banner section start */
.banner-section {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url("./B10A1-Challenge-Begins/assets/Hero-bg.png");
    margin-top: 53px;
}

.banner-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-section-content-img {
    margin-top: 26px;
}

#banner-section-content-heading {
    text-align: center;
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-top: 54.12px;
}

#banner-section-content-description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: -20px;
    margin-left: 294px;
    margin-right: 294px;
    opacity: 0.7;
}

#banner-section-content-btn-text {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

#banner-section-content-btn {
    border-radius: 8px;
    background: #0D1321;
    padding: 21px 24px;
    margin-bottom: 66px;
}

/* banner section end */

/* why web development section start*/
.why-web-development {
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

#why-web-development-section {
    width: 946px;
    height: 1233px;
    margin: 80px 97px;

}

#why-web-development-card1-head {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-top: 50px;
}

#why-web-development-card1-des {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    opacity: 0.7;
}

.why-web-development-card2 {
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 48px;
    display: flex;
    background: white;
}

.why-web-development-card3 {
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 48px;
    display: flex;
    background: white;
}

.why-web-development-card4 {
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 48px;
    display: flex;
    background: white;
}

.why-web-development-card234-head {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.why-web-development-card234-des {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.why-web-development-card234-btn {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background: white;
    padding: 12px 20px;
    cursor: pointer;
}

/* why web development section end */

.my-inspiration {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-inspiration-head {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    margin-top: 90px;
}

#my-inspiration-description {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    opacity: 0.7;
}

#my-inspiration-video {
    border-radius: 16px;
    margin-top: 48px;
    margin-bottom: 20px;
    padding: 0 32px;
}

#my-inspiration-video-bg {
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);

}

/* My Inspiration section end */

/* My Current Target start */
#my-current-target {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    margin-top: 221px;
}

.my-current-target-head {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.my-current-target-des {
    color: #0D1321;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
    margin-bottom: 48px;
}

#my-current-target-card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.my-current-target-card {
    width: 364px;
    height: 100%;
    padding: 40px;
    border-radius: 16px;
}


.my-current-target-card123-head {
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
}

.my-current-target-card123-des {
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;

}

.my-current-target-img {
    width: 56px;
    height: 56px;
}

.margin-top {
    margin-top: 24px;
}

.my-current-target-card-learn {
    margin-top: 24px;
    color: #0D1321;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/* My Current Target end */

/*  */
.i-need-support {
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    margin-top: 49px;
    background-image: url(./B10A1-Challenge-Begins/assets/handshake.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
}

#i-need-support-section-head {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-top: 64px;
}

#i-need-support-section-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 16px;
}

#i-need-support-input-text-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
}

#i-need-support-input-text {
    width: 548px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    padding: 19px 20px;
    color: rgba(13, 19, 33, 0.40);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

#i-need-support-input-submit {
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: #FFF;
    padding: 17px 20px;
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/*  */

/* footer section start */
#footer-section {
    width: 1440px;
    height: 100px;
    background: rgba(13, 19, 33, 0.03);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

#footer-section-text {
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    margin-left: 150px;
    margin-top: 15px;
}

#footer-section-icon {
    margin-right: 130px;
    margin-top: 15px;
}